/nbproject/private/
/SelleniumTest/build/
/SelleniumTest/nbproject/private/
/tests/SelleniumTest/build/
/tests/SelleniumTest/nbproject/private/
/tests/selenium/build/
/tests/selenium/nbproject/private/
/tests/selenium/dist/
/tests/selenium2/nbproject/private/
/tests/Selenium/nbproject/private/
/tests/Selenium/build/
/widget/nbproject/private/
/tests/Selenium/dist/
/www/nbproject/private/
lib/
.gradle/
www/nbproject/
widget/nbproject/
www/static/widget.js
